.App {
  text-align: center;
  line-height: 80%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  line-height: 80%;
}

.App-link {
  color: #61dafb;
}

.bStyle{
  display: block;
  float: right;
  height:'1px';

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Button{
  
  -webkit-appearance: 'button';
    -webkit-writing-mode: horizontal-tb ;
    text-rendering: auto;
   letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    /* display: inline-block; */
    text-align: center;
    /* align-items: flex-start; */
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    /* padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-image: initial; */
}

  
